//maincolor_A
$primary_color_dark: #384A60;
//maincolor_B
$primary_color: #ADBCC4;
//maincolor_C
$primary_color_light: #DFE6E8;
//webpage_background_color
$off_white: #F5F5F5;
$off_black: #4E4E4E;
$white: #FFFFFF;
$black: #000000;
$error_color: #C9051C;
//inputcolor_A
$secondary_color: #FF9800;
$secondary_color_hover: #FFAB17;
$secondary_color_active: #ED7C00;
//linkcolor_A
$link_color: #0088A8;
$link_color_hover: #12ACC6;
$link_color_active: #025C84;

$twitter: #1DA1F2;
$facebook: #3B5998;
$linkedin: #0077B5;
$youtube: #FF3333;
$twitch: #6441A5;